<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retro Game Hub</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Retro Game Hub</h1>
      <nav>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="#games">Games</a></li>
          <li><a href="#contact">Consoles</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Featured Games</h2>
      <div class="game-card">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a5/Super_Mario_Bros._3_coverart.png/220px-Super_Mario_Bros._3_coverart.png"
          alt="SuperMario3"
        />
        <h3>Super Mario Bros 3</h3>
        <p><strong>Released:</strong><span>1988</span></p>
        <p>
          <strong>Console:</strong
          ><span><a href="/Views/Consoles/NES/NEShomepage.html">NES</a></span>
        </p>
        <p><strong>Publisher:</strong><span>Nintendo</span></p>
        <p><strong>Players:</strong><span>1-2</span></p>
      </div>
      <div class="game-card">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/f/f8/Shadow_of_the_Colossus_%282005%29_cover.jpg"
          alt="Game 2"
        />
        <h3>Shadow of the Collosus</h3>
        <p><strong>Released:</strong><span>2005</span></p>
        <p>
          <strong>Console:</strong><span><a href="">PS2</a></span>
        </p>
        <p><strong>Publisher:</strong><span>Sony</span></p>
        <p><strong>Players:</strong><span>1</span></p>
      </div>
      <div class="game-card">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/7/79/The_Legend_of_Zelda_The_Wind_Waker.jpg"
          alt="Game 3"
        />
        <h3>The Legend of Zelda: Windwaker</h3>
        <p><strong>Released:</strong><span>2002</span></p>
        <p>
          <strong>Console:</strong><span><a href="">GameCube</a></span>
        </p>
        <p><strong>Publisher:</strong><span>Nintendo</span></p>
        <p><strong>Players:</strong><span>1</span></p>
      </div>
    </main>
    <footer>
      <p>&copy; 2024 Retro Game Hub</p>
    </footer>
  </body>
</html>
